.header{
    margin-top: 5%;
}
.ex1{
    display: flex;
    flex-direction: row;
    background-image: url("../Assets/gallery.jpg");
    height: 60vh;
    max-height: 900px;
    width: 100%;
}
h1{
    color: white;
    font-size: 4em;
}
.image{
    margin-top: 5%;
    margin-left: 5%;
    width: 30%;
    height: 30%;
    right: 30%;
}
.menu{
    margin-top: 5%;
    width: 100%;
    padding: 15px 300px;
    display: flex;
    justify-content: space-around;    
}

.menu a{
    color: white;
}

.container{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;

}
.section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    height: 120%;

}
.section1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    height: 120vh;

}
.gallery{
    display: flex;
    flex-direction: column;
    height: 25vh;
    width: 33.3vw;
    
}
.desc{
    display: flex;
    flex-direction: column;
    background: black;
    font-size: 2em;
    color: white;
    justify-content: center;
    align-items: center;
    height: 30vh;
    border-radius: 10%;
}
.header-img{
    z-index: -1;
}
footer{
    height: 60vh;
    width: 100vw;
    background-color: rgb(48, 47, 47);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
}
.footer a{
    text-decoration: white;
    color: white;
    padding: 2px;
}
footer .logo1{
    margin-top: 5%;
    width: 6%;
    height: 6%;
}

.footer-column{
    margin-top: 5%;
}
.footer-column a{
    color: white;
}
.other-pages{
    margin-top: 5%;
}
.other-pages a{
    color: white;
}
.other-links{
    margin-top: 5%;
}
.other-links a{
    color: white;
}
